.root {
  font-size: 10px;
  display: flex;
  justify-content: center;
  height: 28px;
  width: 160px;
}

.input {
  border-radius: 2px 0px 0px 2px;
  width: 100%;
}

.button {
  border-radius: 0px 2px 2px 0px;
}
