.root {
  border-radius: 2px;
  border: none;
  height: 28px;
  background-color: #00A865;
  color: #fff;
  padding: 0px 12px;
  font-size: 10px;
}

.active {
  border: solid 1px #fff;
  font-weight: 600;
  background-color: #08b972; /* Green */
}

.root:hover {
  background-color: #08b972; /* Green */
}

.root:disabled {
  opacity: 0.5;
}
