.root {
  background-color: #167F5F;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.content {
  max-width: 900px;
    margin: auto;
    padding: 0 30px 50px;
    /* display: flex; */
    width: 100%;
    flex: 1;
}
.header {
  color: #EFEF5F
}
